package selector

templ Option(value string, text string, selectedKey string) {
	<option class="ju-text-regular ju-ih cursor-pointer" value={ value } selected?={ value == selectedKey }>{ text } </option>
}
