package hdsub1

import "github.com/JonF12/templ-component-lib/src/types"

type Props struct {
	types.BaseProps
	ClassName string
	Text      string
}

templ Render(props *Props) {
	<h2 class={ props.ClassName + " text text-2xl md:text-3xl py-2 keyline-heading" }>{ props.Text }</h2>
}
