package examples

import "github.com/JonF12/TemplComponentLib/dist/src/searchselect"

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>My App</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="assets/js/htmx.min.js"></script>
			@searchselect.Script()
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
