package examples

import "github.com/JonF12/templ-component-lib/src/cms"

templ GetCustomComponentUI() {
	<select>
		for _,v := range cms.GetAllComponents() {
			<option value={ v.ComponentName }>{ v.DisplayText } </option>
		}
	</select>
}

templ ReactMount(componentName string) {
	@Base() {
		<main class="mx-auto max-w-6xl">
			@GetCustomComponentUI()
			<div
				data-react-component={ "tiptapeditor" }
				class="react-mount min-h-lvh"
			></div>
		</main>
	}
}
