package hdmain

type Props struct {
	ClassName string
	Text      string
}

templ Render(props *Props) {
	<h1 class={ props.ClassName + " text text-center text-4xl md:text-6xl lg:text-8xl py-2" }>{ props.Text }</h1>
}
