package hdmain

import "github.com/JonF12/templ-component-lib/src/types"

type Props struct {
	types.BaseProps
	ClassName string
	Text      string
}

templ Render(props *Props) {
	<h1 class={ props.ClassName + " text text-center text-4xl md:text-6xl lg:text-8xl py-2" }>{ props.Text }</h1>
}
