@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.keyline-heading {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.keyline-heading::before,
.keyline-heading::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #666;
}

/* Text Styles */
.ju-text-regular {
  @apply text-gray-900 text-xl;
}

.ju-validation-text {
  @apply w-full text-xl text-red-500;
}

.ju-helper-text {
  @apply w-full ju-text-regular;
}

.ju-helper-text {
  @apply w-full ju-text-regular;
}

.ju-required-mark {
  @apply text-red-300;
}

/* common input */
.ju-ih {
  @apply h-10 px-2 rounded-md border border-gray-400 bg-gray-50;
}

/* Default mobile widths */
.form-default {
  @apply w-auto lg:w-1/2;
}

.ju-main {
  @apply mx-4 sm:mx-10 md:mx-20 xl:mx-40 mt-10 sm:mt-16 md:mt-20;
}
