@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./cards/style.css";
@import "./table/style.css";
@import "./selector/style.css";
@import "./dropzone/style.css";
@import "./common.css";

.nav-container {
  @apply fixed top-0 left-0 right-0 bg-white border-b border-gray-200 px-4 py-3;
}

.nav-list {
  @apply max-w-7xl mx-auto flex items-center justify-center space-x-32;
}

.nav-link {
  @apply cursor-pointer hover:text-blue-600 font-medium transition-colors;
}

.page-h1 {
  @apply text-4xl font-bold mb-6 mt-8;
}

.page-text {
  @apply text-gray-700;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.spinner {
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* For HTMX loading state */
.htmx-indicator {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

.htmx-request.htmx-indicator {
  opacity: 1;
}
